/*
 * Copyright (c) 2022 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/ext_power.h>

/ {
	keymap {
		compatible = "zmk,keymap";

		default_layer {
// -----------------------------------------------------------------------------------------
// | ESC   | F1    | F2    | F3    | F4    | F5    | F6    | F7    | F8    | F9    | F10   | F11   | F12   | PrSc  | P/P   |
// | ~     | 1     | 2     | 3     | 4     | 5     | 6     | 7     | 8     | 9     | 0     | -     |  =    | BSPC  | INS   |
// | TAB   | Q     | W     | E     | R     | T     | Y     | U     | I     | O     | P     | [     |  ]    | \     | DEL   |
// | CAPS  | A     | S     | D     | F     | G     | H     | J     | K     | L     | ;     | '     | NUHS  | ENTER | PgUp  |
// | SHIFT | NUBS  | Z     | X     | C     | V     | B     | N     | M     | ,     | .     | ;     | SHFT  | UP    | PgDw   |
// | CTRL  | WIN   | ALT   |                        SPACE                          | ALT   | LT 1  | LFT   | DWN   | RGT   |

			bindings = <
	&kp ESC          &kp F1           &kp F2           &kp F3        &kp F4        &trans        &kp F5           &kp F6           &kp F7           &kp F8           &kp F9           &kp F10          &kp F11          &kp F12          &kp PSCRN       &kp C_PLAY_PAUSE
	&kp GRAV         &kp NUM_1        &kp NUM_2        &kp NUM_3     &kp NUM_4     &kp NUM_5     &kp NUM_6        &kp NUM_7        &kp NUM_8        &kp NUM_9        &kp NUM_0        &kp MINUS        &kp EQL          &trans           &kp BKSP        &kp INS
	&kp TAB          &trans           &kp Q            &kp W         &kp E         &kp R         &kp T            &kp Y            &kp U            &kp I            &kp O            &kp P            &kp LBKT         &kp RBKT         &kp BSLH        &kp DEL
	&kp CAPS         &trans           &kp A            &kp S         &kp D         &kp F         &kp G            &kp H            &kp J            &kp K            &kp L            &kp SCLN         &kp QUOT         &kp NON_US_HASH  &kp RET         &kp PG_UP
	&kp LSFT         &kp NON_US_BSLH  &kp Z            &kp X         &kp C         &kp V         &kp B            &kp N            &kp M            &kp CMMA         &kp  DOT         &kp FSLH         &trans           &kp RSFT         &kp UP          &kp PG_DN 
    &kp LCTRL        &kp LGUI         &kp LALT         &trans        &trans        &trans        &kp SPACE        &trans           &trans           &trans           &kp RALT         &mo 1            &trans           &kp LEFT         &kp DOWN        &kp RIGHT
			>;
			
			sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP>;
			
		};

		fn_layer {
// |RGB_TOG|RGB_BRD|RGB_BRI|       |       |RGB_HUD|RGB_HUI|RGB_SAD|RGB_SAI|RGB_EFR|RGB_EFF|RGB_SPD|RGB_SPD|       | MUTE  |
// |       |       |       |       |       |       |       |       |       |       |       |       |       |       |       |
// |       |       |       |       |       |       |       |       |       |       |       |       |       |       |       |
// |       |       |       |       |       |       |       |       |       |       |       |       |       |       | HOME  |
// |       |       |       |       |       |       |       |       |       |       |       |       | LT 2  |       | END   |
// |       |       |       |                                                       |       | LT 1  |       |       |       |

			bindings = <
	&rgb_ug RGB_TOG  &rgb_ug RGB_BRD  &rgb_ug RGB_BRI  &trans        &trans        &trans        &rgb_ug RGB_HUD  &rgb_ug RGB_HUI  &rgb_ug RGB_SAD  &rgb_ug RGB_SAI  &rgb_ug RGB_EFR  &rgb_ug RGB_EFF  &rgb_ug RGB_SPD  &rgb_ug RGB_SPI  &trans          &kp C_MUTE
	&trans           &trans           &trans           &trans        &trans        &trans        &trans           &trans           &trans           &trans           &trans           &trans           &trans           &trans           &kp DEL         &trans    
	&trans           &trans           &trans           &trans        &trans        &trans        &trans           &trans           &trans           &trans           &trans           &trans           &trans           &trans           &trans          &trans    
	&trans           &trans           &trans           &trans        &trans        &trans        &trans           &trans           &trans           &trans           &trans           &trans           &trans           &trans           &trans          &kp HOME    
	&trans           &trans           &trans           &trans        &trans        &trans        &trans           &trans           &trans           &trans           &trans           &trans           &trans           &mo 2            &trans          &kp END
	&trans           &trans           &trans           &trans        &trans        &trans        &trans           &trans           &trans           &trans           &trans           &mo 1            &trans           &trans           &trans          &trans
			>;

			sensor-bindings = <&inc_dec_kp C_PREV C_NEXT>;

		};

				sys_layer {
// |BT_TOG |OUT_USB|OUT_BLE|       |       |       |       |       |       |       |       |       |       |       |       |
// |       | BT_0  | BT_1  | BT_2  | BT_3  | BT_4  |       |       |       |       | BT_CLR|       |       |       | BOOT  |
// |       |       |       |       |       |       |       |       |       |       |       |       |       |       | RESET |
// |       |       |       |       |       |       |       |       |       |       |       |       |       |       |       |
// |       |       |       |       |       |       |       |       |       |       |       |       | LT 2  |       |       |
// |       |       |       |                                                       |       | LT 1  |       |       |       |
			bindings = <
	&out OUT_TOG     &out OUT_USB     &out OUT_BLE     &trans        &trans        &trans        &trans           &trans           &trans           &trans           &trans           &trans           &trans           &trans           &trans          &trans    
	&trans           &bt BT_SEL 0     &bt BT_SEL 1     &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &trans           &trans           &trans           &trans           &bt BT_CLR       &trans           &trans           &trans           &trans          &bootloader
    &trans           &trans           &trans           &trans        &trans        &trans        &trans           &trans           &trans           &trans           &trans           &trans           &trans           &trans           &trans          &reset    
	&trans           &trans           &trans           &trans        &trans        &trans        &trans           &trans           &trans           &trans           &trans           &trans           &trans           &trans           &trans          &trans    
	&trans           &trans           &trans           &trans        &trans        &trans        &trans           &trans           &trans           &trans           &trans           &trans           &trans           &mo 2            &trans          &trans
	&trans           &trans           &trans           &trans        &trans        &trans        &trans           &trans           &trans           &trans           &trans           &mo 1            &trans           &trans           &trans          &trans
			>;

			sensor-bindings = <&inc_dec_kp C_BRI_DN C_BRI_UP>;

		};
	};
};
